[submodule "cpprestsdk"]
	path = cpprestsdk
	url = https://github.com/jasonsandlin/cpprestsdk.git
	branch = v2.9.0-mods
[submodule "Samples/Kits/DirectXTK"]
	path = Samples/Kits/DirectXTK
	url = https://github.com/jasonsandlin/DirectXTK.git
